$primaryColor:hsla(308, 33%, 95%, 0.911);
$secondryColor:#bbb;
$navColor:RGB(72, 61, 139);
$textColor:rgb(5, 5, 5);
$iconColor:red;
$divColor:blueviolet;
$fontColor:white;
// $bgColor:rgb(181, 204, 247);




    
    
